.messageSection {
    min-width: 90vw;
    display:flex;
    justify-content: center;
} 
.recentPosts {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    color: white;
}